{% extends 'admin/admin.html' %}

{% block content %}
                        <hr>

	<div class="item-form">
		<form class="pure-form pure-form-stacked"
			  action="{{action}}"
			  method="post">

		    <fieldset>
		        <legend>Item View</legend>

			    {% for field in form %}

			    	{{field.label()}}
			        {{field(class="pure-input")}}

		        {% endfor %}

		        <button type="submit" class="button success">Submit</button>

				<a class="button alert" href="{{ path +'delete/'+ action.split('/')[-2]}}">delete</a>
		    </fieldset>

		</form>
	</div>

{% endblock %}