{% extends "layout.html" %}

{% block body %}



          <div class="callout primary">
            <div class="row column">
		<h1><img src="/static/img/ox-brand.png" /> SoGE IT Infrastructure Services</h1>
	    </div>
	    <br/>
            <div class="row column">
              <p class="lead">A common platform for providing services of benefit to research and teaching using SoGE hardware in accordance with open standards.</p>
            </div>
          </div>



	  <div class="row small-up-3 medium-up-6 ">
            <div class="column">
              <a href="{{ url_for('home.show', page='iam') }}"><img class="thumbnail" src="/static/img/pineapple.jpg">
              <h5>Identity and Access Management</h5></a>
            </div>
            <div class="column">
              <a href="{{ url_for('home.show', page='nextcloud') }}"><img class="thumbnail" src="/static/img/Limes.jpg">
              <h5>NextCloud Service</h5></a>
            </div>
            <div class="column">
              <a href="{{ url_for('home.show', page='dbas') }}"><img class="thumbnail" src="/static/img/Dragon-Fruit.jpg">
              <h5>DataBases as a Service</h5></a>
            </div>
            <div class="column">
              <a href="{{ url_for('home.show', page='waas') }}"><img class="thumbnail" src="/static/img/passionfruit.jpg">
              <h5>Web App as a Service</h5></a>
            </div>
            <div class="column">
              <a href="{{ url_for('home.show', page='ci') }}"><img class="thumbnail" src="/static/img/coconut.jpg">
              <h5>Continuous Integration</h5></a>
            </div>
            <div class="column">
              <a href="{{ url_for('home.show', page='events') }}"><img class="thumbnail" src="/static/img/calendar.jpg">
              <h5>Events</h5></a>
            </div>
            
          </div>
<hr>
	<div class="row">
		<div class="column">
			<br/>
			<h3>News</h3>
			<br/>

            {% for news_article in news_articles %}
                <div>
                    <h4>{{news_article[0]}}</h4>
                    <p>{{news_article[1]|safe}}<p>
                    <p><i>Updated: {{ news_article[2] }} {{ news_article[3] }} </i></p>
                </div>
            {% endfor %}


		</div>
	</div>

{% endblock %}
