<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/css/foundation.css">
	<link rel="stylesheet" href="/static/css/app.css">
	<link rel="shortcut icon" href="http://www.geog.ox.ac.uk/favicon.ico">



	<title>IT: IaaS | School of Geography and the Environment | University of Oxford</title>



	{% block scripts %}{% endblock %}


	</head>

<body {% block bodycalls %}{% endblock %}>
    
	<div class="off-canvas-wrapper">
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

			<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
				<div class="row column">
					<br>
					<a href="http://www.geog.ox.ac.uk"><img class="thumbnail" src="/static/img/geog-intranet-brand-pos.png"></a>
					<br>
					<a href="{{ url_for('home.show', page='') }}"><img class="thumbnail" src="/static/img/fruitbowl.jpg"></a>
					<h4>USERNAME</h4>
					<p>List of my current services</p>
					<div>
						<p>
						{% if not session.logged_in %}
						<a href="{{ url_for('home.show', page='login') }}">log in</a>
						{% else %}
						<a href="{{ url_for('home.show', page='logout') }}">log out</a>
						{% endif %}
						</p>
					</div>
				</div>
			</div>

			<div class="off-canvas-content" data-off-canvas-content>
				<div class="title-bar hide-for-large">
					<div class="title-bar-left">
						<button class="menu-icon" type="button" data-open="my-info"></button>
						<span class="title-bar-title">USER NAME</span>
					</div>
				</div>
		  


				<div class="page">
					<!--<h1>This is blueprint example</h1>
					<p>
					A simple page blueprint is registered under / and /pages
					you can access it using this URLs: 
					<ul>
					<li><a href="{{ url_for('home.show', page='service') }}">/service</a>
					<li><a href="{{ url_for('home.show', page='iaas') }}">/iaas</a>
					</ul>
					<p>
					Also you can register the same blueprint under another path
					<ul>
					<li><a href="/pages/service">/pages/service</a>
					<li><a href="/pages/iaas">/pages/iaas</a>
					</ul>-->

					{% block body %}{% endblock %}
				</div>


		  

				<hr>

				<div class="row">
					<div class="medium-6 columns">
						<h3>Enquiries</h3>
						<p>Use this area to request more information on using one of our services for your project.</p>
						<ul class="menu">
							<li><a href="http://intranet.ouce.ox.ac.uk">School Intranet</a></li>
							<!--<li><a href="#">Facebook</a></li>
							<li><a href="#">Yo</a></li>-->
						</ul>
					</div>
					<div class="medium-6 columns">
						<!--should autofill:
						<label>Name
						<input type="text" placeholder="Name">
						</label>
						<label>Email
						<input type="text" placeholder="Email">
						</label>-->
						<label>
						Message
						<textarea placeholder="Enter your question here"></textarea>
						</label>
						<input type="submit" class="button expanded" value="Submit">
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/static/js/vendor/foundation.js"></script>
	<script>
		$(document).foundation();
	</script>
  </body>





