{% extends "layout.html" %}

{% block body %}


          <div class="top-bar">
			  <div class="row">
				<div class="top-bar-left">
				  <ul class="dropdown menu" data-dropdown-menu>
				  <li class="menu-text">USERNAME</li>
				  <li class="has-submenu">
					  <a href="#">My Account</a>
					  <ul class="submenu menu vertical" data-submenu>
						<li><a href="{{ url_for('home.show', page='iam') }}">IAM management Console</a></li>
						<li><a href="{{ url_for('home.show', page='nextcloud') }}">NextCloud Services Console</a></li>
						<li><a href="{{ url_for('home.show', page='dbas') }}">DBAS Services Console</a></li>
						<li><a href="{{ url_for('home.show', page='console') }}">Console</a></li>
						<li><a href="#"></a></li>
						
						
						<li><a href="/logout.html" id="logout" role="button" class="btn btn-primary btn-block">Sign Out</a></li>
					  </ul>
					</li>
				</ul>
			  </div>
			  <div class="top-bar-right">
				<ul class="menu">
				  <li><a href="{{ url_for('home.show', page='iam') }}" title="Identity and Access Management"><img width=64 src="/static/img/ico/pineapple_64.png"></a></li>
				  <li><a href="{{ url_for('home.show', page='nextcloud') }}" title="NextCloud Service"><img width=64 src="/static/img/ico/lime_64.png"></a></li>
				  <li><a href="{{ url_for('home.show', page='dbas') }}" title="DataBases as a Service"><img width=64 src="/static/img/ico/dragonfruit_64.png"></a></li>
				  <li><a href="{{ url_for('home.show', page='waas') }}" title="Web App as a Service"><img width=64 src="/static/img/ico/passionfruit_64.png"></a></li>
				  <li><a href="{{ url_for('home.show', page='ci') }}" title="Continuous Integration"><img width=64 src="/static/img/ico/coconut_64.png"></a></li>
				  <li><a href="https://www.ox.ac.uk"><img width="50" src="/static/img/ox-brand.png" /></a></li>
				  
				  
				  
				</ul>
			  </div>
			  </div>
			</div>

			<div class="row">
				<div class="column">
					<br/><h3>
					{% block title %}{% endblock %}
					</h3><br/>

					{% block body2 %}{% endblock %}
				</div>
			</div>


{% endblock %}
